@media screen and (max-width: 430px) {
    .btn-back {
        display: flex;
        align-items: center;
    }
    .btn-back i {
        font-size: 20px;
    }

    .logo {
        width: 40px;
    }

    .container-fluid {
        height: 80px;
        margin-bottom: 50px;
    }

    .title-game,
    .player {
        font-size: 18px !important;
    }

    .versus {
        font-size: 60px;
    }

    .col-3 {
        display: flex;
        justify-content: center;
    }

    .selection {
        width: 80px;
        padding: 15px;
    }

    .box-result {
        height: 100px;
        width: 205px;
        padding: 0 20px;
    }

    #result {
        font-size: 25px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .btn-back {
        display: flex;
        align-items: center;
    }
    .btn-back i {
        font-size: 20px;
    }

    .logo {
        width: 40px;
    }

    .container-fluid {
        height: 80px;
        margin-bottom: 50px;
    }

    .title-game,
    .player {
        font-size: 25px;
    }

    .versus {
        font-size: 60px;
    }

    .col-3 {
        display: flex;
        justify-content: center;
        transition: .5s ease-in-out;
    }

    .selection {
        width: 80px;
        padding: 15px;
    }

    .box-result {
        height: 100px;
        width: 205px;
        padding: 0 20px;
    }

    #result {
        font-size: 25px;
        line-height: 30px;
    }
}
