@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #9C835F; */
}

.game {
    background-color: #9C835F;
    height: 100vh;
}

/* -------------------- HEADER -------------------- */
.btn-back {
    color: #724C21;
    font-size: 56px;
    text-decoration: none;
}

.title-game {
    color: #F9B23D;
    font-size: 36px;
}

/* -------------------- MAIN -------------------- */
.selection {
    padding: 25px;
    width: 130px;
    border-radius: 15px;
}

.versus {
    color: #BD0000;
    font-size: 144px;
    letter-spacing: 0.1em;
    border-radius: 10px;
}

.player {
    font-size: 36px;
    letter-spacing: 0.1em;
}

.player-1 {
    cursor: pointer;
}

.player-1:hover {
    background-color: #C4C4C4;
    border-radius: 15px;
}

.click {
    background-color: #C4C4C4;
}

.refresh-btn {
    width: 50px;
    cursor: pointer;
}

.box-result {
    background-color: #4C9654;
    height: 160px;
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    transform: rotate(-20.98deg);
}

#result {
    font-size: 38px;
    letter-spacing: 0.1em;
    line-height: 52px;
}

#reload:hover {
    animation: rotate 1s;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

